body{
   position: relative;
   font-family: $montser;
   
   &.overflowHidden{
      overflow: hidden;
   }
}

.container{
   max-width: 1300px;
   margin: 0 auto;

   @media (min-width: 1400px) {
      max-width: 1300px;
   }

   @media (min-width: 1920px) {
      max-width: 1680px;
   }
}

//Не принимать собития на картинку с класом no-pointer-events
img{
   &.no-pointer-events{
      pointer-events: none;
   }
}

