@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

// шрифт
$montser: 'Montserrat', sans-serif;

// цвета
$black: #000000;
$white: #FFFFFF;
$dot: #CECECE;
$white_smoke: #f5f5f5;
$footer_bg: #636363;
$footer_dev: #333333;