//Кнопка закрить

.close-bnt{
   width: 25px;
   height: 25px;

   background-image: url(../img/close/close.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
}