.liked{
   position: relative;
   padding: 15px 0;
   width: 100%;

   .btn-card{
      @media (max-width: 700px) {
         font-size: 12px;
         padding: 10px 20px;
      }

      @media (min-width: 1920px){
         font-size: 12px;
      }
   }

}