.modal-window{
   position: absolute;
   padding: 25px 25px 25px 25px;
   left: 50%;
   top: 80px;
   transform: translateX(-50%);
   width: 750px;
   height: 600px;
   background: $white;
   margin: 0 auto;
   overflow: scroll;
   z-index: 15;

   box-shadow: 0px 102px 124px 0px rgba(0, 0, 0, 0.25);

   &.hidden{
      display: none;
   }

  

   @media (max-width: 700px) {
      width: 450px;
   }

   @media (max-width: 480px) {
      width: 390px;
   }



   .close-bnt{
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
   }
}

.modal__name{
   border-bottom: 1px solid $black;
   padding: 5px;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   letter-spacing: 0.98px;
}

.empty{
   color: #636363;
   margin: 0 auto;
   text-align: center;
   font-size: 26px;
   padding: 15px;
   width: 70%;
   background: #000;
   margin-top: 25px;
   background: #f5f5f5;
   &.hidden{
      display: none;
   }
}