.search-form {
   display: flex;
   column-gap: 15px;
   padding: 10px;

   border-bottom: 1px solid #878787;

}
.search-form__btn {
   opacity: 50%;

   &:hover{
      opacity: 100%;
   }
}
.search-form__img {
}
.search-form__input {
   color: $black;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   letter-spacing: 1.68px;
   width: 90%;
   padding: 5px;

   @media (max-width: 700px) {
      font-size: 14px;
   }
}

.search__wrap {
}